{% extends "admin/tf_base.html" %}
{% block title %}
    站点设置 - {{site["name"]|upper}}
{% endblock title %}



{% block content %}
    <div class="am-cf admin-main">
        {% include "admin/tf_sidebar.html" %}

        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content-body">
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf"><a href="{{ url_for("admin.index") }}"><strong
                            class="am-text-primary am-text-lg">主界面</strong></a> /
                        <small>站点设置</small>
                    </div>
                </div>

                <hr/>
                <div class="am-g">


                    <div class="am-u-sm-12 am-u-md-8 ">
                        {% for msg in get_flashed_messages() %}
                            {% if loop.first %}
                                <div class="alert {% if error %}alert-danger{% else %}alert-success{% endif %} alert-dismissible"
                                     role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    {{ msg }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <form class="am-form am-form-horizontal" action="" method="post">

                            {{ form.hidden_tag() }}

                            <div class="am-form-group">
                                <label for="" class="am-u-sm-3 am-form-label ">站点名称</label>
                                <div class="am-u-sm-9">
                                    <input type="text"  name="name" value="
                                    {% if form.name.data %}{{ form.name.data }}{% else %}{{ site["name"] }}{% endif %}">
                                    {% for error in form.name.errors %}
                                        <div class="input-error-info">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="" class="am-u-sm-3 am-form-label ">一句话描述</label>
                                <div class="am-u-sm-9">
                                    <input type="text"  name="description" value="
                                            {% if form.description.data %}{{ form.description.data }}{% else %}{{ site["description"] }}{% endif %}">
                                    {% for error in form.description.errors %}
                                        <div class="input-error-info">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="" class="am-u-sm-3 am-form-label">关于本站</label>
                                <div class="am-u-sm-9">
                                    <textarea class=""  name="about" cols="30" rows="5"
                                              placeholder="输入这本站的简介">{% if form.about.data %}
                                        {{ form.about.data }}{% else %}
                                        {{ site["about"] }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- content end -->
    </div>


{% endblock content %}



