{% extends "admin/tf_base.html" %}
{% block title %}
    <title>设置用户- {{ site["name"]|upper }}</title>
{% endblock title %}



{% block content %}
    <div class="am-cf admin-main">
        {% include "admin/tf_sidebar.html" %}


        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content-body">
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf"><a href="{{ url_for("admin.user") }}"><strong
                            class="am-text-primary am-text-lg">用户</strong></a> /
                        <small>{{ user.nickname }}</small>
                    </div>
                </div>

                <hr/>


                <div class="am-u-sm-12 am-u-md-8 ">
                <button type="button" data-toggle="modal" data-target="#avatar-modal">Launch modal</button>
                    <div class="am-form am-form-horizontal">
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">头像</label>
                            <div class="am-u-sm-9">
                                <div id="avatar" class="thumbnail avatar-thumbnail fileinput-button">
                                    <img src="{{ url_for("static", filename=user.origin_avatar()) }}" alt="">
                                    <input id="avatar-input" type="file">
                                </div>
                            </div>
                        </div>
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                        <form class="am-form am-form-horizontal" method="post">
                            {{ form.hidden_tag() }}
                            <div class="am-form-group">
                                <label for="" class="am-u-sm-3 am-form-label ">用户名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="username"
                                           class="form-control"
                                           disabled
                                           value="{{ user.username }}">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="" class="am-u-sm-3 am-form-label ">昵称</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="nickname"
                                           class="form-control {% if form.nickname.errors %}input-error{% endif %}"
                                           type="text" name="nickname"
                                           value="{% if form.nickname.data %}{{ form.nickname.data }}
                                            {% else %}{{ user.nickname }}{% endif %}">
                                    {% for error in form.nickname.errors %}
                                        <div class="input-error-info">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                </div>
                            </div>
                        </form>
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>
                        <form class="am-form am-form-horizontal password-form">
                            <div class="am-form-group">

                                <label class="am-u-sm-3 am-form-label" for="password">密码</label>
                                <div class="am-u-sm-9">
                                    <input class="form-control password" type="password" name="password" value="">
                                    <div class="btn-group">
                                        <a id="confirm" class="btn btn-primary confirm" href="javascript:;">确定</a>
                                        <a id="change" class="btn btn-default" href="javascript:;">修改密码</a>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content end -->

    </div>
    <div id="loading" class="loading-backdrop"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>

    <div id="avatar-modal" class="modal fade avatar-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">修改图片</h4>
                </div>
                <div class="modal-body">
                    <div id="avatar-preview">
                        <div class="avatar-preview">
                        </div>
                    </div>
                    <div class="image-menu">
                        <span class="fa fa-square-o left-icon"></span>
                        <span class="fa fa-square-o right-icon"></span>
                        <input id="avatar-zoom-input" type="range" class="image-zoom-input">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary ok">确定</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        window.USER = {{user.id}};
    </script>

    {% if config.get("DEBUG") %}
        {% include "_common-js.html" %}
        <script src="{{ url_for("static", filename="asserts/cropit/dist/jquery.cropit.js") }}"></script>
        <script src="{{ url_for("static", filename="js/admin/user.js") }}"></script>
    {% else %}
        <script src="{{ url_for("static", filename="dist/js/user.min.js") }}"></script>
    {% endif %}

{% endblock scripts %}


