{% extends "admin/tf_base.html" %}
{% block title %}
    <title>添加用户 - {{ site["name"]|upper }}</title>
{% endblock title %}



{% block content %}
    <div class="am-cf admin-main">
        {% include "admin/tf_sidebar.html" %}


        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content-body">
                <div class="am-cf am-padding am-padding-bottom-0">
                    <div class="am-fl am-cf"><a href="{{ url_for("admin.user") }}"><strong
                            class="am-text-primary am-text-lg">用户</strong></a> /
                        <small>添加用户</small>
                    </div>
                </div>

                <hr/>
                <div class="am-g">

                    <div class="am-u-sm-12 am-u-md-8 ">
                        <form class="am-form am-form-horizontal" method="post">
                            {{ form.hidden_tag() }}
                            <div class="am-form-group">
                                <label for="" class="am-u-sm-3 am-form-label ">用户名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="username"
                                           class="form-control {% if form.username.errors %}input-error{% endif %}"
                                           autocomplete="off" placeholder="用户名"
                                           {% if form.username.data %}value="{{ form.username.data }}"{% endif %}>
                                    {% for error in form.username.errors %}
                                        <div class="input-error-info">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        <div class="am-form-group">
                                <label for="" class="am-u-sm-3 am-form-label ">密码</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="password"
                                           class="form-control {%if form.password.errors%}input-error{%endif%}"
                                           autocomplete="off" placeholder="密码">
                                    {% for error in form.username.errors %}
                                        <div class="input-error-info">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary">确认添加</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content end -->

    </div>
    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
       data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{% endblock content %}



